.jckf-rewards {
    list-style: none none outside;
    margin: 0 0 20px;
    padding: 0;
}

    .jckf-reward {
        list-style: none none outside;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #dbdbdc;
        position: relative;
    }

    .jckf-reward:last-child {
        border: none;
    }

        a.jckf-reward__link {
            display: block;
            background: #efeff0;
            padding: 15px;
            color: #333;
            position: relative;
            text-decoration: none;
        }

        a.jckf-reward__link:hover {
            color: #333;
            text-decoration: none;
        }

        .jckf-reward-unavailable {
            cursor: default;
            opacity: 0.5;
        }

        .jckf-reward__link:hover {
            text-decoration: none;
        }

            .jckf-reward__link > div {
                margin-bottom: 10px;
            }

            .jckf-reward__link > div:last-child {
                margin-bottom: 0;
            }

            .jckf-reward-flag {
                position: absolute;
                top: 0;
                right: 15px;
                font-size: 12px;
                padding: 0 10px;
                border-radius: 0 0 5px 5px;
                line-height: 20px;
            }

            .jckf-reward__limit {
                background: #dbdbdc;
                color: #333;
            }

                .selected .jckf-reward__limit {
                    display: none;
                }

            .jckf-reward__selected {
                background: #53a1b8;
                color: #fff;
            }

            .jckf-reward__donate {
                font-weight: bold;
            }

            .jckf-reward__delivery {
                font-size: 90%;
            }

            .jckf-reward__select {
                background: #53a1b8;
                opacity: 0;
                color: #fff;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
                display: block;
                z-index: 10;

                transition:         opacity .2s ease-in-out;
                -moz-transition:    opacity .2s ease-in-out;
                -webkit-transition: opacity .2s ease-in-out;
            }

            .jckf-reward__link--hover .jckf-reward__select {
                opacity: 0.9;
            }

                .jckf-reward__select-text {
                    position: absolute;
                    top: 50%;
                    white-space: nowrap;
                    height: 26px;
                    line-height: 26px;
                    margin: -15px 0 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    font-size: 120%;

                    transition:         font .2s ease-in-out;
                    -moz-transition:    font .2s ease-in-out;
                    -webkit-transition: font .2s ease-in-out;
                }

                .jckf-reward__link--hover .jckf-reward__select-text {
                    font-size: 100%;
                }