.jckf-stats {
    margin-bottom: 25px;
    overflow: hidden;
}

    .jckf-stat {
        margin-bottom: 10px;
    }

        .jckf-stat strong {
            display: block;
            font-size: 200%;
            line-height: 1;
            font-weight: bold;
        }