.iconic-woo-fundraisers-stats {
    margin-bottom: 25px;
    overflow: hidden;
}

    .iconic-woo-fundraisers-stat {
        margin-bottom: 10px;
    }

        .iconic-woo-fundraisers-stat strong {
            display: block;
            font-size: 200%;
            line-height: 1;
            font-weight: bold;
        }