.jckf-rewards {
    list-style: none none outside;
    margin: 0;
    padding: 0;
}
    
    .jckf-reward {
        list-style: none none outside;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #dbdbdc;
        position: relative;
    }
    
    .jckf-reward:last-child {
        border: none;
    }
    
        .jckf-reward__link {
            display: block;
            background: #efeff0;
            padding: 15px;
            color: #333;
        }
            
        .jckf-reward__link:hover {
            text-decoration: none;
        }
            
            .jckf-reward__link > div {
                margin-bottom: 10px;
            }
            
            .jckf-reward__link > div:last-child {
                margin-bottom: 0;
            }
            
            .jckf-reward__limit {
                position: absolute;
                top: 0;
                right: 15px;
                font-size: 12px;
                padding: 0 10px;
                background: #dbdbdc;
                border-radius: 0 0 5px 5px;
                line-height: 20px;
            }
            
            .jckf-reward__donate {
                font-weight: bold;
            }
            
            .jckf-reward__delivery {
                font-size: 90%;
            }
            
            .jckf-reward__select {
                background: #53a1b8;
                opacity: 0;
                color: #fff;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
                display: block;
                z-index: 10;
                
                transition:         opacity .2s ease-in-out;
                -moz-transition:    opacity .2s ease-in-out;
                -webkit-transition: opacity .2s ease-in-out;
            }
            
            .jckf-reward__link--hover .jckf-reward__select {
                opacity: 0.9;
            }
                
                .jckf-reward__select-text {
                    position: absolute;
                    top: 50%;
                    white-space: nowrap;
                    height: 26px;
                    line-height: 26px;
                    margin: -15px 0 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    font-size: 120%;
                    
                    transition:         font .2s ease-in-out;
                    -moz-transition:    font .2s ease-in-out;
                    -webkit-transition: font .2s ease-in-out;
                }
                
                .jckf-reward__link--hover .jckf-reward__select-text {
                    font-size: 100%;
                }

.mfp-bg {
    z-index: 999998;
}

    .mfp-wrap {
        z-index: 999999;
    }
    
        .jckf-add-to-cart-form {
            background: #fff;
            padding: 30px;
            max-width: 600px;
            margin: 20px auto;
            overflow: hidden;
        }
            
            .jckf-add-to-cart-form form {
                margin: 0;
                padding: 0;
                border: none;
                background: none;
            }
                
                .jckf-donation-field-wrap {
                    position: relative;
                    margin: 0 0 20px;
                }
                
                    .jckf-symbol {
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        font-size: 18px;
                        height: 20px;
                        line-height: 20px;
                        margin: -10px 0 0;
                        font-weight: bold;
                    }
                    
                    .jckf-donation-field,
                    input.jckf-donation-field,
                    input[type="text"].jckf-donation-field {
                        border: 1px solid #dbdbdc;
                        margin: 0;
                        background: #fff;
                        padding: 15px;
                        border-radius: 5px;
                        color: #666;
                        box-sizing: border-box;
                        font-size: 18px;
                        height: 56px;
                    }
                    
                    .jckf-donation-field--currency-left,
                    input.jckf-donation-field--currency-left,
                    input[type="text"].jckf-donation-field--currency-left {
                        padding-left: 35px;
                    }
                    
                    .jckf-donation-field--currency-right,
                    input.jckf-donation-field--currency-right,
                    input[type="text"].jckf-donation-field--currency-right {
                        padding-right: 35px;
                    }
                    
                    .jckf-donate-btn--right {
                        float: right;
                        display: inline;
                        width: auto;
                        margin: 20px 0 0;
                    }